.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    32px 0 #fff,
    -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #3e3e3e;
    box-shadow:
      32px 0 #3e3e3e,
      -32px 0 #ff7245;
  }
  50% {
    background-color: #ff7245;
    box-shadow:
      32px 0 #3e3e3e,
      -32px 0 #3e3e3e;
  }
  100% {
    background-color: #3e3e3e;
    box-shadow:
      32px 0 #ff7245,
      -32px 0 #3e3e3e;
  }
}
